@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&display=swap');

*{  
    padding: 0;
    margin: 0;
    border: none;
}

body{
    background:#FFD7B2;
}

/* alinhamento */

.alingcontcalc{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.footercontcalc{
    display: flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction: row;
}

.alingtextcalc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.alingformcalc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calcaling{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 9vh;
}

/* conteudo */
nav{
    background:#FBA728;
    width: 101vw;
    height: 15vh;
}

.footercalc footer{
    background:#FBA728;
    width: 100vw;
    height: 16vh;   
    margin-top: 10vh;
    padding: 3px;
}

.formcalc{
    background: #fff;
    width:47vw;
    height: 50vh;
    padding: 15px;
    margin-top:5vh;
    border-radius: 5px;
}

.imgcalc img{
    width: 40vw;
}

.formcalc button{
    font-family: 'Domine', serif; 
    background:#FBA728;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    width: 10vw;
    height: 8vh;
}


.formcalc h2{
    font-family: 'Domine', serif; 
    text-align: center;
    color: #242424;
}

.footerlogocalc img{
    width: 10vw;
}

.formimgcalc img{
    width:11vw;

}

.contcalc a{
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    color: #fff;
    font-family: 'Domine', serif;   
    transition: all 1s;
}

.contcalc a:hover{
    color: #242424;
}

.conttextcalc h2{
    font-size: 15px;
    color: #fff;
    font-family: 'Domine', serif;   
}

.calcinp{
    padding: 10px;
}

.calcinp input{
    width: 20vw;
    height: 5vh;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    color: #fff;
    background: #242424;
    font-family: 'Domine', serif; 
}

.calcinpbtn input{
    width: 32.3vw;
    height: 5vh;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    color: #fff;
    background: #242424;
    font-family: 'Domine', serif; 
}

.resultcalc input{
    width: 42.4vw;
    height: 5vh;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    color: #fff;
    background: #242424;
    font-family: 'Domine', serif;
}

/* responsividade */
@media screen and (max-width:1006px) {

    .alingcontcalc{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .formimgcalc img{
        margin-top:-3vh;
    }

    .contcal{
        margin-top: -3vh;
    }

    .footercontcalc{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .conttextcalc h2{
        margin-top: -4vh;
    }   
}

@media screen and (max-width:755px) {
    .formimgcalc img{
        width: 15vw;
    }

    .footerlogocalc img{
        margin-top: -3vh;
        width: 15vw;
    }

    .conttextcalc h2{
        margin-top: -4vh;
    }
}


@media screen and (max-width:435px) {
    .formimgcalc img{
        width: 24vw;
    }

    .footerlogocalc img{
        width: 25vw;
    }

    .conttextcalc h2{
        margin-top: -4vh;
    }
}



@media screen and (max-width:625px) {
    .formcalc{
        width: 40vw;
        height: 45vh;
    }

    .footercalc footer{
        margin-top: 20vh;
    }
}


@media screen and (max-width:431px) {

    .formcalc{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .formcalc{
        width: 40vw;
        height: 40vh;
        margin-top: 10vh;
    }

    .formcalc button{
        padding: 0;
        width: 30vw;
    }

    .footercalc footer{
        margin-top: 20vh;
    }
}