@import url('https://fonts.googleapis.com/css2?family=Domine:wght@500&family=Inria+Serif:ital@1&display=swap');
*{
    padding: 0;
    margin: 0;
    border: 0;
}

/* alinhamento */

.alingcadas1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.alingcontcadas{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.contcadas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.enviologincadas{
    margin-top: 20px;
}

.containercadas1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.alingcadas2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction:row;
    margin-top: -100vh;
}

.alingcontcadas2{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.imgalingcadas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenviocadas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
  }

/* conteudo */

.formmidiacadas{
    margin-top: 7vh;
}

.formmidiacadas img{
    width: 3vw;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    background:#fff;
}

.contenviocadas input{
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 25vw;
    font-family: 'Domine', serif;
}

.contenviocadas button{
  padding: 10px;
  margin: 20px;
  width: 26.7vw;
  border-radius: 5px;
  background-color: #242424;
  font-family: 'Domine', serif;
  color: #fff;
}

.imgalingcadas img{
    width: 20vw;
}

.formtextcadas{
    width: 38vw;
    height: 30vh;
    background: #fff;
}

.formtextcadas h2{
    text-align: center;
    font-family: 'Domine', serif;
    padding: 10px;
}

.formtextcadas p{
    text-align: center;
    font-size: 30px;
    font-family: 'Domine', serif;
    padding:10px;
}

.containercadas1{
    background: #FFD7B2;
    width: 40vw;
    height: 100vh;
  }

.containercadas2{
    background: #FBA728;
    width:60vw;
    height: 100vh;
}

  .enviologincadas{
    background: #242424;
    text-decoration: none;
    font-family: 'Domine', serif;
    color:#fff;
    width:36.8vw;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
  }

  .enviologincadas a{
    text-decoration: none;
    color:#fff;
  }