@import url('https://fonts.googleapis.com/css2?family=Domine:wght@500&family=Inria+Serif:ital@1&display=swap');
*{
  padding: 0;
  margin: 0;
  border: 0;
}

/* alinhamentos */

.alingcontainer1{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.alingcontainer2{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  margin-top: -100vh;
}

.alingcont{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.alingcont2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.contenvio{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

.imgaling{
  display: flex;
  justify-content: center;
  align-items: center;
}

.formmidia{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.enviocadas{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* conteudo */

.container1{
  background: #FBA728;
  width:60vw;
  height: 100vh;
}

.container2{
  background: #FFD7B2;
  width: 40vw;
  height: 100vh;
}

.imgaling img{
  width: 20vw;
}

.contenvio input{
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 25vw;
  font-family: 'Domine', serif;
}

.contenvio button{
  padding: 10px;
  margin: 20px;
  width: 26.7vw;
  border-radius: 5px;
  background-color: #242424;
  font-family: 'Domine', serif;
  color: #fff;
}

.formmidia{
  margin-top: 7vh;
}

.formmidia img{
  width: 3vw;
  margin: 10px;
  padding: 10px;
  border-radius: 25px;
  background:#fff;
}

.cont2{
 padding: 10px;
 margin: 10px;
}
.formtext{
  width:35vw;
  height: 30vh;
  background: #fff;
  border-radius: 5px;
  margin-top: 20vh;
}

.formtext h2{
  text-align: center;
  font-family: 'Domine', serif;
  padding: 10px;
}

.formtext p{
  text-align: center;
  font-size: 30px;
  font-family: 'Domine', serif;
  padding:10px;
}

.enviocadas{
  margin-top: 30px;
  
}

.enviocadas a{
  background: #242424;
  text-decoration: none;
  font-family: 'Domine', serif;
  color: #fff;
  width: 33.5vw;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

@media screen and (max-width:1005px) {

  .contenvio input{
    width: 40vw;
  }

  .contenvio button{
    width: 42vw;
  }

  .imgaling{
    margin-top:50px;
  }

  .container1{
    width:100vw;
  }

  .container2{
    width: 0vw;
    height: 0vh;
    display: none;
  }

  .formtext{
    width: 0vw;
    height: 0vh;
    display: none;
  }

  .enviocadas {
    width: 0vw;
    height: 0vh;
    display: none;
  }

  .enviocadas a{
    width: 0vw;
    height: 0vh;
    display: none;

  }

  .alingcontainer2{
    margin-top: 0;
  }
}


@media screen and (max-width:763px) {

  .imgaling{
    margin-top: 80px;
  }

  .contenvio input{
    width: 40vw;
  }

  .contenvio button{
    width: 43vw;
  }
  
  .formmidia img{
    width: 5vw;
  }
  
  
}


@media screen and (max-width:563px) {
  .contenvio button{
    width: 44vw;
  }
  
}

@media screen and (max-width:563px) {
  .formmidia img{
    width: 7vw;
  }
  
}