@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital@1&display=swap');

*{
    padding: 0;
    margin: 0;
    border: none;
}

body{
    background:#FFD7B2;
}

nav{
    background:#FBA728;
    width: 100vw;
    height:14vh ;
    margin-bottom: 80vh;
}

footer{
    width: 100vw;
    height:14vh ;
    background:#FBA728;
}


.alinglink{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction:row;
}

.footerinforme{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction:row;
}

.footerinforme h2{
    font-size: 15px;
    font-family: 'Inria Serif', serif;
    margin-bottom: 8px;
}

img{
    width: 160px;
    margin-top: -15px;
}

.alinglink a{
    padding: 10px;
    margin: 10px;
    margin-bottom: 17px;
    font-size: 15px;
    font-family: 'Inria Serif', serif;
    font-weight: 700;
}

.alinglink a:hover{
    color: #FFD7B2;
}

.active{
    color: #fff;
    text-decoration:underline;
}   